<!DOCTYPE html>
<html>
    <head>
    {% block header %}
        <meta charset="utf-8" />
        <title>{% block titre %}Calcul pharmaceutique{% endblock %}</title>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
    {% endblock %}
    </head>

    <body>
        {% block calculateur %}{% endblock %}
        {% block formule%}{% endblock %}
        {% block informations %}{% endblock %}
    </body>
    <footer>Copyright Florian Bernard </footer>
</html>