{% extends "base_calcul.html" %}

{% block calculateur %}
<form action="" method="post">
   <input type="text" name="poids" placeholder="180 lb", value="{{ poids }}" />
    <input type="text" name="taille" placeholder="180cm/75 kg poids ideal", value="{{ taille }}" />
        <input type="checkbox" id="checkbox_F" name="femme", {{ checked }} />
        <label for="checkbox_F">Femme</label>
    <input class="button" type="submit" value="Envoyer" />
</form>
<div>
<p>Resultat : 
    {{result}}
</p>

</div>
{% endblock %}

{% block formule %}
<div>
    <p>$$IMC = \frac{Poids}{Taille^2}$$</p>
    <ul>
         <li>Poids : kg</li>
        <li>Taille : m</li>   
    </ul>
</div>
{% endblock %}

{% block informations %}
<div>
    <p>L'indice de masse corporelle permet de </p>
</div>
{% endblock %}
